.row {
  display: flex;
  flex-direction: row;
}

.row li {
  margin: 0 1em;
  list-style: none;
}

.questions {
  margin: 2em auto;
  text-align: center;
  list-style: none;
}

.users {
  margin: 2em auto;
  text-align: center;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  text-align: center;
}

form input, form button {
  margin: 1em auto;
}